// ant custom
// side menu
.ant-menu-item-selected a:hover {
  color: #d4d4d4;
}

// timepicker
.ant-picker {
  width: 100%;
}

.header-table {
  background-color: black;
}

.side-page__with-footer {
  display: flex;
  flex-direction: column;
  height: auto;
}

.side-page__footer {
  display: flex;
  margin-top: auto;
}

.side-page__footer button {
  margin-left: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.side-page__footer {
  .btn__delete {
    margin-left: auto;
  }
}

// STATUS
.table-status {
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;

  &.status {
    &-pending {
      background-color: orange;
    }
  }
}
