// Typography
.text--gray {
  color: #8F949B;
}

// ant custom
// side menu
.ant-menu-item-selected a:hover {
  color: #d4d4d4;
}

// timepicker
.ant-picker {
  width: 100%;
}

.header-table {
  background-color: black;
}

.side-page__with-footer {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

.side-page__footer {
  display: flex;
  margin-top: auto;
}

.side-page__footer button {
  margin-left: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.side-page__footer {
  .btn__delete {
    margin-left: auto;
  }
}

// STATUS
.table-status {
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;

  &.status {
    &-pending {
      background-color: orange;
    }
  }
}

.home-page {
  &__diagram {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin-bottom: 30px;
    border: 1px solid #D9DFE5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__header {
    padding: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2C2730;
    border-bottom: 1px solid #D9DFE5;
  }

  &__char {
    padding: 20px;
  }

  &__char-header {
    display: flex;
    justify-content: space-between;

    &-balance {
      font-size: 18px;
      line-height: 21px;
    }
  }

}

.auth-page {
  &__login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    color: #2C2730;
    border: 1px solid #D9DFE5;
    padding: 30px;

    &-header {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  
}