.header-table {
  background-color: black;
}

.side-page__with-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-page__footer {
  display: flex;
  margin-top: auto;
}

.side-page__footer button {
  margin-left: 12px;
}

.side-page__footer {
  .btn__delete {
    margin-left: auto;
  }
}
